.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  background-color: var(--veryDarkDesaturatedBlue);
  padding: 1.5rem;
  border-bottom: 1px solid var(--veryLightGrayishBlue);
  cursor: grab;

  &:hover {
    .button {
      display: flex;
    }
  }
}

.button {
  display: none;
  align-items: center;
  justify-content: center;
}
